     .login {
         background: white;
     }

     .validation-summary-errors > ul > li {
         list-style-type: none;
     }

     .login-body {
         border: 1px solid #d5d5d5;
         padding-top: 20px;
     }