<connectionStrings>
  <!-- configuration data like endpoints, protocol config, relying parties etc... -->
  <!--<add name="IdentityServerConfiguration"
       connectionString="Data Source=|DataDirectory|\IdentityServerConfiguration.sdf"
       providerName="System.Data.SqlServerCe.4.0" />-->

  <add name="IdentityServerConfiguration"
       connectionString="Server=tcp:f4zaqfdn9o.database.windows.net;Database=IdentityServerConfiguration;User ID=idsrv;Password=LajM9VrwLnYc9N;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
       providerName="System.Data.SqlClient" />

  <!--<add name="SqlServer"
       connectionString="server=localhost;database=IdentityServerConfiguration;trusted_connection=yes;"
       providerName="System.Data.SqlClient" />

  <add name="SqlCe"
       connectionString="Data Source=|DataDirectory|\IdentityServerConfiguration.sdf"
       providerName="System.Data.SqlServerCe.4.0" />-->

  <!-- user database (LocalDB) -->
  <add name="ProviderDB"
       providerName="System.Data.SqlClient"
       connectionString="Server=tcp:f4zaqfdn9o.database.windows.net;Database=IdentityServerUsers;User ID=idsrv;Password=LajM9VrwLnYc9N;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>

  <!-- user database (SQLCE) -->
  <!--<add name="ProviderDB"
       connectionString="Data Source=|DataDirectory|\IdentityServerUsers.sdf"
       providerName="System.Data.SqlServerCe.4.0" />-->

</connectionStrings>
